
@model TeacherViewModel
@{
    ViewData["Title"] = "Create";
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Create New Slider</h4>
                        <p class="card-description">
                            Basic form layout
                        </p>
                        <form class="forms-sample" method="post" asp-controller="teacher" asp-action="create" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="exampleInputUsername1">Name</label>
                                <input asp-for="Name" class="form-control" id="exampleInputUsername1" placeholder="Name">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputUsername1">Surname</label>
                                <input asp-for="Surname" class="form-control" id="exampleInputUsername1" placeholder="Surname">
                                <span asp-validation-for="Surname" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputUsername1">Profession</label>
                                <input asp-for="Profession" class="form-control" id="exampleInputUsername1" placeholder="Profession">
                                <span asp-validation-for="Profession" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="Description">Description</label>
                                <textarea class="form-control" id="Description" asp-for="Description" rows="6"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputUsername1">Image</label>
                                <input accept="image/*" asp-for="ImageFile" class="form-control" id="exampleInputUsername1" placeholder="Image">
                                <span asp-validation-for="ImageFile" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputUsername1">Degree</label>
                                <input asp-for="Degree" class="form-control" id="exampleInputUsername1" placeholder="Degree">
                                <span asp-validation-for="Degree" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputUsername1">Experiance</label>
                                <input asp-for="Experience" class="form-control" id="exampleInputUsername1" placeholder="Experiance">
                                <span asp-validation-for="Experience" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputUsername1">Hobbies</label>
                                <input asp-for="Hobbies" class="form-control" id="exampleInputUsername1" placeholder="Hobbies">
                                <span asp-validation-for="Hobbies" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputUsername1">Faculty</label>
                                <input asp-for="Faculty" class="form-control" id="exampleInputUsername1" placeholder="Faculty">
                                <span asp-validation-for="Faculty" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputUsername1">Email</label>
                                <input asp-for="Mail" class="form-control" id="exampleInputUsername1" placeholder="Email">
                                <span asp-validation-for="Mail" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputUsername1">Number</label>
                                <input asp-for="Phone" class="form-control" id="exampleInputUsername1" placeholder="Number">
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputUsername1">Skype</label>
                                <input asp-for="Skype" class="form-control" id="exampleInputUsername1" placeholder="Skype">
                                <span asp-validation-for="Skype" class="text-danger"></span>
                            </div>
                            @*<div class="form-group">
                                <label for="exampleInputUsername1">Social</label>
                                <select class="form-control" asp-for="SocialIds">
                                    @foreach (var social in Model.Socials)
                                    {
                                        <option value="@social.Id">@social.Soci</option>
                                    }
                                </select>

                                <span asp-validation-for="SocialIds" class="text-danger"></span>
                            </div>*@
                            @*<div class="form-group">
                                <label for="exampleInputUsername1">Skill</label>
                                <select class="form-control" asp-for="SkillIds">
                                    @foreach (var skil in Model.Skills)
                                    {
                                        <option value="@skil.Id">@skil.Name</option>
                                    }
                                </select>

                                <span asp-validation-for="SkillIds" class="text-danger"></span>
                            </div>*@


                            <button type="submit" class="btn btn-primary me-2">Submit</button>
                            <button class="btn btn-light">Cancel</button>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


