@model List<Course>

@foreach (var item in Model)
{
    <div class="col-lg-4 col-md-6">
        <div class="single-course mb-70">
            <div class="course-img">
                <a href="course-details.html">
                    <img src="~/img/slider/@item.Image" alt="course">
                    <div class="course-hover">
                        <i class="fa fa-link"></i>
                    </div>
                </a>
            </div>
            <div class="course-content">
                @foreach (var category in item.CourseCategories)
                {
                    <h3><a href="course-details.html">@category.Category.Name</a></h3>
                }




                <p>@item.courtText</p>
                <a class="default-btn" asp-controller="course" asp-action="detail" asp-route-id="@item.Id">read more</a>
            </div>
        </div>
    </div>
}
