@model Post
@{
    ViewData["Title"] = "Create";
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Create New Slider</h4>
                        <p class="card-description">
                            Basic form layout
                        </p>
                        <form class="forms-sample" method="post" asp-controller="Blog" asp-action="create" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="exampleInputUsername1">Title</label>
                                <input asp-for="Title" class="form-control" id="exampleInputUsername1" placeholder="Title">
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="Description">Description</label>
                                <textarea class="form-control" id="Description" asp-for="Description" rows="6"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <div class="form-group">
            <label for="exampleInputUsername1">Data</label>
            <input asp-for="CreatedAt" class="form-control" id="exampleInputUsername1" placeholder="Data">
            <span asp-validation-for="CreatedAt" class="text-danger"></span>
        </div>
                            <div class="form-group">
                                <label for="exampleInputUsername1">Image</label>
                                <input accept="image/*" asp-for="ImageFile" class="form-control" id="exampleInputUsername1" placeholder="Image">
                                <span asp-validation-for="ImageFile" class="text-danger"></span>
                            </div>

                            <button type="submit" class="btn btn-primary me-2">Submit</button>
                            <button class="btn btn-light">Cancel</button>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

